/**{
  margin:0;
  padding:0;
}*/
/*ul li,ol li{
  list-style: none;
}*/
/*img{
  border:none;
}*/
/*a{
  text-decoration: none;
}*/
/*@media screen and (max-width:43rem){
  .small-10{
    width:100%;
  }
*/
/*input[type="submit"]{
  height:50px;
  background: #00d2ff ;
  outline: none;
}*/
input[type='checkbox']{
/*  width: 19px !important;
*/
  margin-right: 5px;
  border: 0px;
}
body,button, 
input, select,
textarea,h1 ,h2, h3, h4, h5, h6,p {
 	 font-family: '宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}